@use "sass:math";
:root {
  --moderate-violet: hsl(263, 55%, 52%);
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --very-dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);

  --ff-body: "Barlow Semi Condensed", sans-serif;
  --fw-md: 500;
  --fw-bold: 600;
}

/* 
1. "Verified Graduate" has the same color as the person's name with 50% opacity
2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity
*/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

//For typo
@function rem($value) {
  @return math.div($value, 16) * 1rem;
}

//for flex
@mixin flex-row($justify, $align) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-column($justify, $align) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
}

// BODY
body {
  font-family: var(--ff-body); //typo
  font-size: rem(13); //typo
  background-color: var(--light-grayish-blue);
  @include flex-column(center, center);
}

// CONTAINER
.container {
  max-width: calc(100% - 48px);
  display: grid;
  gap: 1.5rem;
  margin: 20% auto;
}

//CARD
.card {
  border-radius: 8px;
  // padding: 24px 30px 33px;
  padding: 24px 30px 35px;
  //DIV DEL PERFIL DE USUARIO
  .card-profile {
    @include flex-row(left, center);
    margin-bottom: 1rem;
    img {
      width: 12%;
      border-radius: 50%;
      margin-right: 1rem;
    }
    .user-info {
      @include flex-column(center, left);
    }
  }
}

//CARD TYPOGRAPFY
.card {
  .user-info {
    color: var(--white);
    .profile-verified {
      opacity: 50%;
    }
  }
  .card-title {
    color: var(--white);
    line-height: 1.3;
    font-weight: var(--fw-bold);
    z-index: 20;
    letter-spacing: 0.35px;
  }
  .card-title-dark {
    color: var(--very-dark-grayish-blue);
  }
  .card-text {
    margin-top: 0.8rem;
    color: var(--white);
    opacity: 50%;
    line-height: 1.5;
    letter-spacing: 0.1px;
    &::before {
      content: open-quote;
    }
    &::after {
      content: close-quote;
    }
  }
  .dark {
    color: var(--very-dark-grayish-blue);
    letter-spacing: 0;
  }
}

//INDIVIDUAL CARDS
.card-1 {
  background-color: var(--moderate-violet);
  position: relative;
  z-index: 1;
  img {
    width: 12%;
    border: 2px rgb(165, 126, 207) solid;
    border-radius: 50%;
    margin-right: 1rem;
  }
  &::before {
    position: absolute;
    content: url("/images/bg-pattern-quotation.svg");
    top: 0;
    right: 1.5rem;
    z-index: -1;
  }
}

.card-2 {
  background-color: var(--very-dark-grayish-blue);
}

.card-3,
.card-5 {
  background-color: var(--white);
}

.card-4 {
  background-color: var(--very-dark-blackish-blue);
}

//FOOTER
.attribution {
  font-size: 11px;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}
